<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


 <bean id="td" class="com.nit.sbeans.TreatmentDetails">
    
       <constructor-arg name="consultationFee" value="800"/>
       <constructor-arg name="medicineCharges" value="2200"/>
       
    </bean>
   
    <bean id="rd" class="com.nit.sbeans.RoomDetails">
    
       <constructor-arg name="roomChargePerDay" value="1500"/>
       <constructor-arg name="numberDays" value="3"/>
       
    </bean>
    
     <bean id="hbillsystem" class="com.nit.sbeans.HospitalBillingSystem">
    
       <constructor-arg name="treatmentDetails" ref="td"/>
       <constructor-arg name="roomDetails" ref="rd"/>
       
       <constructor-arg name="serviceTaxPercentage" value="10"/>
       
    </bean>
    
    
    
    
</beans>